{% extends 'orders/layout.html' %}
{% load static %}

{% block title %}Checkout - Flower Shop{% endblock %}

{% block content %}
<section class="sub-banner float-start w-100">
    <div class="container">
        <div class="insider-banner">
            <h2>Checkout</h2>
            <nav class="mt-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="main-body float-start w-100">
    <div class="checkout-page-main-div d-inline-block w-100">
        <div class="container">
            <form action="{% url 'checkout' %}" method="post" role="form">
                {% csrf_token %}
                <div class="row g-lg-5">
                    <!-- Billing Address -->
                    <div class="col-lg-8">
                        <div class="comon-steps-div">
                            <h2 class="comon-heading m-0">Billing Address</h2>
                            <div class="row mt-4">
                                <!-- Поля CheckoutForm -->
                                {{ checkout_form.non_field_errors }}
                                <div class="col-lg-12 mb-3">
                                    {{ checkout_form.customer_name.label_tag }}
                                    {{ checkout_form.customer_name }}
                                </div>
                                <div class="col-lg-12 mb-3">
                                    {{ checkout_form.customer_email.label_tag }}
                                    {{ checkout_form.customer_email }}
                                </div>
                                <div class="col-lg-12 mb-3">
                                    {{ checkout_form.customer_phone.label_tag }}l>
                                    {{ checkout_form.customer_phone }}
                                </div>
                            </div>
                        </div>

                        <!-- Delivery Address -->
                        <div class="comon-steps-div mt-4">
                            <h2 class="comon-heading m-0">Delivery Information</h2>
                            <div class="row mt-4">
                                <!-- Поля DeliveryForm -->
                                {{ delivery_form.non_field_errors }}
                                <div class="col-lg-12 mb-3">
                                    {{ delivery_form.full_name.label_tag }}
                                    {{ delivery_form.full_name }}
                                </div>
                                <div class="col-lg-6 mb-3">
                                    {{ delivery_form.country.label_tag }}
                                    {{ delivery_form.country }}
                                </div>
                                <div class="col-lg-6 mb-3">
                                    {{ delivery_form.state.label_tag }}
                                    {{ delivery_form.state }}
                                </div>
                                <div class="col-lg-6 mb-3">
                                    {{ delivery_form.city.label_tag }}
                                    {{ delivery_form.city }}
                                </div>
                                <div class="col-lg-6 mb-3">
                                    {{ delivery_form.zipcode.label_tag }}
                                    {{ delivery_form.zipcode }}
                                </div>
                                <div class="col-lg-12 mb-3">
                                    {{ delivery_form.address.label_tag }}
                                    {{ delivery_form.address }}
                                </div>
                                <div class="col-lg-6 mb-3">
                                    {{ checkout_form.customer_phone.label_tag }}>
                                    {{ checkout_form.customer_phone }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Order Summary -->
                    <div class="col-lg-4">
                        <div class="ceck-out-right-div new-checkout">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="page-titel comon-heading m-0">Your Order</h2>
                            </div>
                            <div class="oder-summary-item mt-4">
                                <table class="table checkout-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart_items %}
                                            <tr>
                                                <td>{{ item.product.name }}</td>
                                                <td>x {{ item.quantity }}</td>
                                                <td>${{ item.total_price }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="oder-right-details-new">
                                <div class="price-sec-order">
                                    <p class="price-am">Subtotal <span>${{ subtotal }}</span></p>
                                    <p class="delivery-am">Delivery Charges <span>${{ delivery_fee }}</span></p>
                                    <div class="total-price p-0">
                                        <p class="discount-am mb-lg-0">Total Amount <span>${{ total }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="form-wizard-next-btn btn text-center mt-3">Place Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
