{% extends 'orders/layout.html' %}
{% load static %}

{% block title %}Свяжитесь с нами - Flower Shop{% endblock %}

{% block content %}
<section class="sub-banner float-start w-100">
    <div class="container">
        <div class="insider-banner">
            <h2>Свяжитесь с нами</h2>
            <nav class="mt-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Свяжитесь с нами</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="main-body float-start w-100">
    <section class="contact-us-page d-inline-block w-100 my-5">
        <div class="container">
            <div class="row g-lg-5">
                <!-- Информация для связи -->
                <div class="col-lg-5 col-xl-5">
                    <div class="cm-text-n">
                        <h6 class="mb-0">Давайте поговорим</h6>
                        <h2>Мы здесь, чтобы помочь вам</h2>
                        <p class="mt-3">Если у вас есть вопросы, не стесняйтесь обращаться к нам.</p>
                        <h5 class="mt-4">Наш адрес</h5>
                        <ul class="list-unstyled mt-4">
                            <li class="d-flex">
                                <span class="icon-c"><i data-feather="phone"></i></span>
                                <span class="text-c">Позвоните нам
                                    <small class="d-block">+7 (123) 456-78-90</small>
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="icon-c"><i data-feather="mail"></i></span>
                                <span class="text-c">
                                    Email:
                                    <small class="d-block">info@flowershop.com</small>
                                </span>
                            </li>
                            <li class="d-flex">
                                <span class="icon-c"><i data-feather="map-pin"></i></span>
                                <span class="text-c">Адрес:
                                    <small class="d-block">Улица Цветочная, 123, Москва</small>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Форма обратной связи -->
                <div class="col-lg-7 col-xl-7">
                    <div class="conatct-form-div mb-5 mt-5 mt-lg-0">
                        <h6 class="mb-0">Отправьте нам сообщение</h6>
                        <h2>Заполните форму ниже</h2>
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <input type="text" name="name" class="form-control" placeholder="Ваше имя" required />
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" class="form-control" placeholder="Ваш email" required />
                                </div>
                                <div class="col-lg-12">
                                    <textarea class="form-control" name="message" placeholder="Сообщение" rows="5" required></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn subimt-message d-flex align-items-center" type="submit">Отправить сообщение
                                        <i data-feather="send"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Часто задаваемые вопросы -->
    <section class="faq-secion pt-5">
        <div class="container">
            <h6 class="mb-0 text-center sub-heading">FAQ</h6>
            <h2 class="text-center min-heading mt-2">С какими вопросами вы сталкиваетесь?</h2>
            <div class="col-lg-10 mx-auto mt-4">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Могу ли я изменить адрес доставки моего заказа?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Да, вы можете изменить адрес доставки, связавшись с нашей службой поддержки.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Можно ли указать точное время доставки?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Мы стараемся доставить заказы в удобное для вас время. Пожалуйста, уточните время при оформлении заказа.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Как я могу добавить альтернативный номер для доставки заказа?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Вы можете добавить альтернативный номер телефона через форму обратной связи или связавшись с нашей службой поддержки.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
